In [112]:
import pandas as pd
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import datetime as dt
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
from sklearn.model_selection import train_test_split

## catégorisation du bmi

In [113]:
df_clean=pd.read_csv('data/df_clean.csv')

# definition des catégories
bins =[0,18.5,25,30,40,float('inf')]

# definition des noms des catégories
labels=['sous_poids','poids_normal','surpoids','obésité','obésité_morbide']


# ajout d'une colone 'bmi_category' avec toutes les nouvelles catégories

df_clean['bmi_category'] = pd.cut(df_clean['bmi'], bins=bins,labels=labels, right = False)

# Utiliser get_dummies pour créer des colonnes indicatrices

bmi_dummies = pd.get_dummies(df_clean['bmi_category'], prefix='bmi', drop_first=True)


# Concaténer les colonnes indicatrices avec le DataFrame d'origine
df_clean = pd.concat([df_clean, bmi_dummies], axis=1)


# Supprimer la colonne 'bmi' originale et 'bmi_category' si vous ne souhaitez pas les conserver
df_clean = df_clean.drop(['bmi_category'], axis=1)
display(df_clean)

,age,sex,bmi,children,smoker,region,charges,bmi_poids_normal,bmi_surpoids,bmi_obésité,bmi_obésité_morbide
0,19,female,27.900,0,yes,southwest,16884.92400,False,True,False,False
1,18,male,33.770,1,no,southeast,1725.55230,False,False,True,False
2,28,male,33.000,3,no,southeast,4449.46200,False,False,True,False
3,33,male,22.705,0,no,northwest,21984.47061,True,False,False,False
4,32,male,28.880,0,no,northwest,3866.85520,False,True,False,False
...,...,...,...,...,...,...,...,...,...,...,...
1332,50,male,30.970,3,no,northwest,10600.54830,False,False,True,False
1333,18,female,31.920,0,no,northeast,2205.98080,False,False,True,False
1334,18,female,36.850,0,no,southeast,1629.83350,False,False,True,False
1335,21,female,25.800,0,no,southwest,2007.94500,False,True,False,False
1336,61,female,29.070,0,yes,northwest,29141.36030,False,True,False,False

## catégorisation de la region

In [114]:

region_dummies = pd.get_dummies(df_clean['region'], prefix='region')
display(region_dummies)
display(df_clean)
df_clean = pd.concat([df_clean, region_dummies], axis=1)
display(df_clean)
df_clean.to_csv('data/df_clean_modelisation.csv', index=False)

      region_northeast  region_northwest  region_southeast  region_southwest
0                False             False             False              True
1                False             False              True             False
2                False             False              True             False
3                False              True             False             False
4                False              True             False             False
...                ...               ...               ...               ...
1332             False              True             False             False
1333              True             False             False             False
1334             False             False              True             False
1335             False             False             False              True
1336             False              True             False             False

[1337 rows x 4 columns]

,age,sex,bmi,children,smoker,region,charges,bmi_poids_normal,bmi_surpoids,bmi_obésité,bmi_obésité_morbide
0,19,female,27.900,0,yes,southwest,16884.92400,False,True,False,False
1,18,male,33.770,1,no,southeast,1725.55230,False,False,True,False
2,28,male,33.000,3,no,southeast,4449.46200,False,False,True,False
3,33,male,22.705,0,no,northwest,21984.47061,True,False,False,False
4,32,male,28.880,0,no,northwest,3866.85520,False,True,False,False
...,...,...,...,...,...,...,...,...,...,...,...
1332,50,male,30.970,3,no,northwest,10600.54830,False,False,True,False
1333,18,female,31.920,0,no,northeast,2205.98080,False,False,True,False
1334,18,female,36.850,0,no,southeast,1629.83350,False,False,True,False
1335,21,female,25.800,0,no,southwest,2007.94500,False,True,False,False
1336,61,female,29.070,0,yes,northwest,29141.36030,False,True,False,False

,age,sex,bmi,children,smoker,region,charges,bmi_poids_normal,bmi_surpoids,bmi_obésité,bmi_obésité_morbide,region_northeast,region_northwest,region_southeast,region_southwest
0,19,female,27.900,0,yes,southwest,16884.92400,False,True,False,False,False,False,False,True
1,18,male,33.770,1,no,southeast,1725.55230,False,False,True,False,False,False,True,False
2,28,male,33.000,3,no,southeast,4449.46200,False,False,True,False,False,False,True,False
3,33,male,22.705,0,no,northwest,21984.47061,True,False,False,False,False,True,False,False
4,32,male,28.880,0,no,northwest,3866.85520,False,True,False,False,False,True,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1332,50,male,30.970,3,no,northwest,10600.54830,False,False,True,False,False,True,False,False
1333,18,female,31.920,0,no,northeast,2205.98080,False,False,True,False,True,False,False,False
1334,18,female,36.850,0,no,southeast,1629.83350,False,False,True,False,False,False,True,False
1335,21,female,25.800,0,no,southwest,2007.94500,False,True,False,False,False,False,False,True
1336,61,female,29.070,0,yes,northwest,29141.36030,False,True,False,False,False,True,False,False