In [2]:
import pandas as pd
import numpy as np

In [45]:
# remplacement male = 1 et female =0

df= pd.read_csv('data/data.csv')
# df['sex_norm']=df['sex']
df['sex_norm']=df['sex'].replace('male',1).replace('female',0)
for region in df['region'].unique():
    # df[f"is_{region}"]=df['region'].replace(f"{region}",1).replace(r'[\w]+',0,regex=True)
    df[f"is_{region}"]=0
    


print(df['region'].unique())
df.head(15)

['southwest' 'southeast' 'northwest' 'northeast']

,age,sex,bmi,children,smoker,region,charges,sex_norm,is_southwest,is_southeast,is_northwest,is_northeast
0,19,female,27.900,0,yes,southwest,16884.92400,0,0,0,0,0
1,18,male,33.770,1,no,southeast,1725.55230,1,0,0,0,0
2,28,male,33.000,3,no,southeast,4449.46200,1,0,0,0,0
3,33,male,22.705,0,no,northwest,21984.47061,1,0,0,0,0
4,32,male,28.880,0,no,northwest,3866.85520,1,0,0,0,0
5,31,female,25.740,0,no,southeast,3756.62160,0,0,0,0,0
6,46,female,33.440,1,no,southeast,8240.58960,0,0,0,0,0
7,37,female,27.740,3,no,northwest,7281.50560,0,0,0,0,0
8,37,male,29.830,2,no,northeast,6406.41070,1,0,0,0,0
9,60,female,25.840,0,no,northwest,28923.13692,0,0,0,0,0
10,25,male,26.220,0,no,northeast,2721.32080,1,0,0,0,0
11,62,female,26.290,0,yes,southeast,27808.72510,0,0,0,0,0
12,23,male,34.400,0,no,southwest,1826.84300,1,0,0,0,0
13,56,female,39.820,0,no,southeast,11090.71780,0,0,0,0,0
14,27,male,42.130,0,yes,southeast,39611.75770,1,0,0,0,0